@font-face {
    font-family: 'Lato-Thin';
    src: url('../lato/Lato-Thin/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Thin/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Thin/Lato-Thin.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Thin/Lato-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('../lato/Lato-ThinItalic/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-ThinItalic/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-ThinItalic/Lato-ThinItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-ThinItalic/Lato-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-ExtraLight';
    src: url('../lato/Lato-ExtraLight/Lato-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-ExtraLight/Lato-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-ExtraLight/Lato-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-ExtraLight/Lato-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-ExtraLightItalic';
    src: url('../lato/Lato-ExtraLightItalic/Lato-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-ExtraLightItalic/Lato-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-ExtraLightItalic/Lato-ExtraLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-ExtraLightItalic/Lato-ExtraLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../lato/Lato-Light/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Light/Lato-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Light/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../lato/Lato-LightItalic/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-LightItalic/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-LightItalic/Lato-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-LightItalic/Lato-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../lato/Lato-Regular/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Regular/Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Regular/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../lato/Lato-Italic/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Italic/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Italic/Lato-Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Italic/Lato-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('../lato/Lato-Medium/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Medium/Lato-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Medium/Lato-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('../lato/Lato-MediumItalic/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-MediumItalic/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-MediumItalic/Lato-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-MediumItalic/Lato-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-SemiBold';
    src: url('../lato/Lato-SemiBold/Lato-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-SemiBold/Lato-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-SemiBold/Lato-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-SemiBold/Lato-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-SemiBoldItalic';
    src: url('../lato/Lato-SemiBoldItalic/Lato-SemiBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-SemiBoldItalic/Lato-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-SemiBoldItalic/Lato-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-SemiBoldItalic/Lato-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../lato/Lato-Bold/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Bold/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Bold/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../lato/Lato-BoldItalic/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-BoldItalic/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-BoldItalic/Lato-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-BoldItalic/Lato-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-ExtraBold';
    src: url('../lato/Lato-ExtraBold/Lato-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-ExtraBold/Lato-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-ExtraBold/Lato-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-ExtraBold/Lato-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-ExtraBoldItalic';
    src: url('../lato/Lato-ExtraBoldItalic/Lato-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-ExtraBoldItalic/Lato-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-ExtraBoldItalic/Lato-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-ExtraBoldItalic/Lato-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../lato/Lato-Black/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-Black/Lato-Black.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-Black/Lato-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../lato/Lato-BlackItalic/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../lato/Lato-BlackItalic/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../lato/Lato-BlackItalic/Lato-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('../lato/Lato-BlackItalic/Lato-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}